<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>dev-ojzy83zih82tcztr.us.auth0.com</string>
	<key>Domain</key>
	<string>MzrzGEesADAA6TsqRqE240jTWFNICC35</string>
</dict>
</plist>
